<html>
<head>
  <title>Clucker</title>
</head>
<body>
  <h1>Clucker Feed</h1>
  <h2>Have your say</h2>
  <form action = "{%url 'new_post' %}" method = "post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type = "submit" value = "Cluck">
  </form>
  <a href="{% url 'new_post' %}" >Or cluck on a separate page</a>
  <br>
  <h2>What Everybody's Cluckin'</h2>
  <ul>
      {% for post in posts %}
      <li> {{ post.author }} - {{ post.created_at }}<br/>
      {{ post.text}} - <a href="{% url 'edit_feed' %}" >Edit Cluck</a> </li>

          <br>
      {% endfor %}
  </ul>
  <a href="{% url 'log_out' %}" >Log out</a>
</body>
</html>
